html {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

ul {
  list-style: none;
}

.container {
  border: 1 px solid red;
}

.main-title {
  text-align: center;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  background-color: aquamarine;
  border-radius: 10%;
}

.pokemon-types {
  padding-inline-start: 0px;
}
